---
import smallLogo from '../assets/small-logo.svg';
import background from '../assets/background.svg';
---

<footer class="footer" itemscope itemtype="https://schema.org/Organization">
  <div class="footer__mini-logo">
    <img src={smallLogo.src} alt="Small wall Logo" />
  </div>
  <div class="footer__content">
    <div class="footer__item footer__item--title">
      Contacts
    </div>
    <address class="footer__item footer__item--address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
      <span itemprop="streetAddress">10 Palasta Street</span>,
      <span itemprop="addressLocality">Riga</span>,
      <span itemprop="postalCode">LV-1050</span>,
      <span itemprop="addressCountry">Latvia</span>
    </address>
    <a class="footer__item footer__item--phone" href="tel:+37129171915 " itemprop="telephone">
      +371 29171915 
    </a>
    <a class="footer__item footer__item--email" href="mailto:office@wall.lv" itemprop="email">
      office@wall.lv
    </a>
  </div>
</footer>

<style lang="scss">
  .footer {
    background-color: #4B4B4B;
    color: #FFFFFF;
    
    &__content {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 57px;
      flex-direction: column;
    }

    &__item {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0px;

      &--title {
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
      }

      &--address {
        max-width: 164px;
        text-align: center;
      }
    }


    &__mini-logo {
      height: 56px;
      width: 100%;
      background-color: #4B4B4B;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #fff;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .footer {
      &__content {
        height: 56px;
        flex-direction: row;
        gap: 27px;
      }

      &__item {
        &--title {
          display: none;
        }

        &--address {
          max-width: 100%;
          text-align: left;
        }
      };

      &__mini-logo {
        display: none;
      }
    }
  }
</style>